h1 {
    margin: 10px;
    padding: 10px 95px;
    width: fit-content;
   justify-content: center;
    align-items: center;
    background-color: gainsboro;
    font-size: 50px;
    border-radius: 5px;
}


button {
    margin: 10px;
    padding: 10px 20px;

}